@import '../variables.scss';

header {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
	z-index: 5;

	svg {
		padding-top: 20px;
	}

	.site-logo {
		width: 80vw;
		max-width: 500px;
	}

	h1 {
		font-size: 0px;
		position: absolute;
		right: -200vw;
	}
}

@media screen and (min-width: 40rem) {
	header {
		min-height: 9em;
	}
}
