@import '../variables.scss';

//Mixins
@keyframes pulse {
	0% {
		transform: scale(0.75);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.75);
	}
}

.features {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -10px auto;

	h2 {
		width: 100%;
	}

	.block {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		flex: 1 1 auto;
		position: relative;
		margin: 10px;

		img {
			max-width: unset;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
	}

	h3,
	p {
		color: #fff;
		text-align: center;
		margin: 10px 0;
		width: 100%;
	}
}

main {
	> * {
		padding: 50px 0 100px;
		width: 90vw;
		max-width: 800px;
		margin: 0 auto;

		&:nth-child(2n - 1) {
			position: relative;

			&:before {
				background: $primary_light_10;
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: calc(-1 * (50vw - 50%));
				width: 100vw;
				z-index: -2;
			}
		}
	}
}
