//Fonts
$font_regular: 400 1em Arial, sans-serif;
$font_bold: 700 1em Arial, sans-serif;
$font_headings: 700 1.5em Arial, sans-serif;

//Colours
$primary: #ffa62f;
$primary_light_10: #fff6ea;
$primary_light_25: #ffe9cb;
$primary_light_50: #ffd397;
$primary_light_75: #ffbc63;
$primary_light_90: #ffaf44;

$primary_dark_10: #1a1105;
$primary_dark_25: #402a0c;
$primary_dark_50: #805318;
$primary_dark_75: #bf7d23;
$primary_dark_90: #e6952a;

$secondary: #000000;
$secondary_light_10: #e6e6e6;
$secondary_light_25: #bfbfbf;
$secondary_light_50: #808080;
$secondary_light_75: #404040;
$secondary_light_90: #191919;

$neutral: #575450;
$neutral_light_10: #eeeeee;
$neutral_light_25: #d5d4d3;
$neutral_light_50: #abaaa8;
$neutral_light_75: #817f7c;
$neutral_light_90: #686562;

$neutral_dark_10: #090808;
$neutral_dark_25: #161514;
$neutral_dark_50: #2c2a28;
$neutral_dark_75: #413f3c;
$neutral_dark_90: #4e4c48;
